extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Create an account
      form.form.form--signup
        .form__group
          label.form__label(for='signup-name') Full name
          input#signup-name.form__input(type='text', placeholder='Your name', required)
        .form__group
          label.form__label(for='signup-email') Email address
          input#signup-email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
          label.form__label(for='signup-password') Password
          input#signup-password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='signup-passwordConfirm') Confirm password
          input#signup-passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green Sign up
      .form__group.ma-bt-lg(style='text-align: center;')
        p Already have an account?
        a.btn.btn--small(href='/login', style='background: none; color: #55c57a; border: none; cursor: pointer; text-decoration: underline; padding: 0; margin-top: 10px;') Log in here
